[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dynBiplotGUI"]
	path = dynBiplotGUI
	url = https://github.com/cran/dynBiplotGUI
	shallow = true
	registered = true
